


 #searchMenu {

margin-left: auto;
margin-right: auto;
margin-top:7vh;
 } 

#inputval{

	width: 50vw;
	margin-top: 3vh;
	marker-bottom:5vh;
	margin-left: 10vh;
	float: left;
	height: 6vh;
}


 @media (max-width: 400px) { 



#submit{
 
    height: 6vh;
    margin-top: 3vh;
	margin-right: auto;
	margin-left: auto;

}


}

 @media (min-width: 400px) { 

#submit{

	float: left;
	margin-left: 2vh;
	height: 6vh;
    margin-top: 3vh;
}



}

